name: Generate release (Pypi, tag, & GitHub Release)
permissions:
  contents: write
on: workflow_dispatch

jobs:
  deploy:
    environment:
      name: release

    runs-on: ubuntu-latest
    
    steps:
    - name: Checkout repository
      uses: actions/checkout@v5

    - name: Set up Python
      uses: actions/setup-python@v6
      with:
        python-version: '3.13'
    
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install build twine
    
    - name: Install Package
      run: pip install .
    
    - name: Get package version
      id: version
      run: |
        export VERSION=$(python -c "import importlib.metadata; print(importlib.metadata.version(\"${{ vars.MODULE_NAME }}\"))")
        echo "VERSION=$VERSION" >> $GITHUB_OUTPUT
        echo "Version number: $VERSION"
    
    - name: Build and publish
      env:
        TWINE_USERNAME: ${{ secrets.PYPI_USERNAME }}
        TWINE_PASSWORD: ${{ secrets.PYPI_PASSWORD }}
      run: |
        python -m build
        twine upload dist/* -u $TWINE_USERNAME -p $TWINE_PASSWORD
    
    - name: Generate tag
      id: tag_version
      uses: mathieudutour/github-tag-action@v6.2
      with:
        github_token: ${{ secrets.GITHUB_TOKEN }}
        custom_tag: ${{ steps.version.outputs.VERSION }}
    
    - name: Create a GitHub release
      uses: ncipollo/release-action@v1
      with:
        tag: ${{ steps.tag_version.outputs.new_tag }}
        name: ${{ steps.version.outputs.VERSION }}
        makeLatest: true

