name: Scan code with SonarQube
on:
  push:
    branches:
      - main

  schedule:
    # Scheduled because SonarQube rules evolve over time
    # and need a re-scan to check against them
    - cron: '0 0 * * 0' # weekly: Sunday 00:00 UTC

  workflow_dispatch:

jobs:
  sonar-scan:
    name: Sonar scan
    permissions:
      contents: read
    runs-on: ubuntu-latest
    steps:
      - name: Set up Python
        uses: actions/setup-python@v6
        with:
          python-version: '3.14'

      - name: Checkout repository
        uses: actions/checkout@v6
        with:
          fetch-depth: 0

      - name: Install project
        working-directory: ${{ github.workspace }}
        run: pip install -e .[test]

      - name: Run unitary tests
        env:
          SCRIPT_PATH: ./scripts/run-tests.sh
        run: |
          chmod +x $SCRIPT_PATH
          $SCRIPT_PATH unitary

      - name: Run integration tests
        env:
          SCRIPT_PATH: ./scripts/run-tests.sh
        run: |
          chmod +x $SCRIPT_PATH
          $SCRIPT_PATH integration

      - name: Run e2e tests
        env:
          SCRIPT_PATH: ./scripts/run-tests.sh
        run: |
          chmod +x $SCRIPT_PATH
          $SCRIPT_PATH e2e

      - name: Generate report files
        run: |
          python -m coverage combine ./conf/coverage
          python -m coverage xml

      - name: SonarQube Scan
        uses: SonarSource/sonarqube-scan-action@v7
        env:
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}



